body {
    background-image: url(../images/gravel.png);
}

header {
    height: 90px;
    border-bottom: 2px solid #cdcdcd;
    margin: 0 0 40px 0 !important;
}

.portrait {
    width: 200px;
    height: auto;
    margin: 5px 25px 0 0;
    border: 1px solid black;
}

.port-images {
    border: 1px solid black;
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}

.custom-nav {
    height: 90px;
}

p {
    line-height: 2em;
}

.header-links {
    flex-grow: inherit;
    line-height: .8em;
    margin-left: auto;
}

.navbar-name {
    padding: 21px;
}

.main-content {
    border: 1px solid #dddddd;
    padding: 30px;
    margin-bottom: 40px;
    animation: fadein 1s;
    min-height: calc(100vh - 70px);
}

.about-me {
    border-bottom: 3px solid #dddddd;
    padding: 6px 0 19px 0;
    margin-bottom: 30px;
}

.portfolio {
    padding: 8px 15px 8px 15px !important;
    margin: 0 15px 0 15px;
    border-right: 1px solid #efefef;
    border-left: 1px solid #efefef;
}

.foot {
    padding: 22px 0 22px 0;
    border-top: 8px solid #4aaaa5;
    text-align: center;
}

.form-btn {
    border-radius: 0;
    font-size: 18px;
}

.text-boxes {
    border-radius: 0;
    border: 2px solid #eaeaea;
}

.form-area {
    height: 200px !important;
    
}

#relative {
    position: relative;
    cursor: pointer;
}

#absolute {
    position: absolute;
    bottom: 0;
    padding: 12px;
    right: 16px;
    left: 16px;
    margin-bottom: 2.5rem;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    cursor: pointer;
    transition: .2s ease;
}

#relative:hover #absolute {
    padding: 24px;
    transition: .2s ease;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media only screen and (max-width: 767px) {
    .navbar-name {
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .header-links {
        margin: auto;
        text-align: center;
        flex-direction: row;
        margin-top: 1.5rem;
    }
    header {
        height: 173px;
    }
    /* .mobile-container { */
        margin: 0;
        padding: 0;
        width: 100%;        
    }
    .mobile-navbar {
        margin:0;
    }
    .portrait {
        width: 100%;
        margin-right: 0;
    }
}
